<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="header.css">
</head>
<body>
    <div class="navBar">
        <div class="logo">
            <h2>Node Blog</h2>
        </div>
        <ul>
            <a href="/">Home</a>
        </ul>
        <ul>
            <a href="contact">Contact</a>
        </ul>
        <ul>
            <a href="blogs">Blogs</a>
        </ul>
        <ul>
            <a href="about">About</a>
        </ul>
    </div>

</body>
</html>