<link rel="stylesheet" href="contact.css">

{{> __header}}
<body>
    
    <div class="signUp">
        <h1>Sign Up!</h1>
        <form>

            <label for="username">Username</label>
            <input name="username" type="text" placeholder="Username">
    
            <label for="email">Email</label>
            <input name="email" type="text" placeholder="Enter your email">
        
            <label for="password">Password</label>
            <input name="password" type="text" placeholder="Enter a valid password">
        
            <label for="name">Name</label>
            <input name="name" type="text" placeholder="Enter your name">
            
        </form>
    </div>

</body>