<link rel="stylesheet" href="index.css">

  {{> __header}}
<body>
    <div class="scrollWelcome">
        <marquee behavior="" direction="right">
        <h3>Welcome to Node Blog</h3>
        </marquee>
    </div>

    <div class="mainImg">
        <img 
        width="100%"
        height="100%"
        src="https://www.bonobology.com/wp-content/uploads/2019/08/Helping-out-depressed-friend.jpg.webp" alt="">
    </div>

  
</body>
